@import "tailwindcss";
@config "../tailwind.config.js";

.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}

body {
  @apply bg-background text-slate-100 overflow-x-hidden;
}

/* For realistic page crease */
.page-gradient {
  background: linear-gradient(to right, 
    rgba(0,0,0,0.6) 0%, 
    rgba(0,0,0,0.1) 5%, 
    rgba(0,0,0,0) 10%, 
    rgba(255,255,255,0.05) 95%, 
    rgba(255,255,255,0.1) 100%
  );
}

.page-gradient-back {
  background: linear-gradient(to left, 
    rgba(0,0,0,0.6) 0%, 
    rgba(0,0,0,0.1) 5%, 
    rgba(0,0,0,0) 10%, 
    rgba(255,255,255,0.05) 95%, 
    rgba(255,255,255,0.1) 100%
  );
}
